  <div class="question">
    <p>質問内容</p>
    <%= @question.question %>
  </div>


  <div class="questioner">
    <p>質問者</p>
    <%= @question.questioner_id %>
  </div>

  <div class="questionee">
    <p>回答者</p>
    <%= @question.questionee_id %>
  </div>