  <div class="question">
    <p>質問</p>
    <%= @question.question %>
  </div>

  <div class="answer">
    <p>回答</p>
    <%= @question.answer %>
  </div>

  <%= link_to "戻る",  user_path(@user.id), class:'btn btn-primary' %>