<h1>このユーザーについて</h1>

<h2>User info</h2>

<%= attachment_image_tag @user, :profile_image, :fill, 80, 80, format: 'jpeg', class: "img-rounded pull-left profile-img", fallback: "no_image.jpg" %>

<%= @user.username %>
<%= @user.user_status %>