<div class="container">

  <div class="row1">
    <h1 class="text-center">Welcome to HITA</h1>
    <br><br>
    <div class="col-md-8 col-md-offset-2">
      <div class="explain">
        <h1><strong>H</strong>ands</h1>
        <h1><strong>I</strong>n</h1>
        <h1><strong>T</strong>he</h1>
        <h1><strong>A</strong>ir</h1>
      </div>
      <div class="img1">
        <%= image_tag('frog.png') %>
      </div>
    </div>
  </div>

  <div class="row2">
    <div class="col-md-6 col-md-offset-3">

    </div>
  </div>

  <div class="row3">
    <div class="col-md-6 col-md-offset-3">

    </div>
  </div>
</div>

<%= stylesheet_link_tag 'homes' %>