<h1><%=@country.country_name %> のページ</h1>


<%# 都市一覧 %>
<h3><%=@country.country_name %> の都市一覧</h3>
<% @regions.each do |region| %>
<div>
  <%= link_to region_path(region.id) do %>
  <%= region.region_name %>
  <% end %>
</div>
<% end %>

<%# 検索機能（形だけ） %>
<h3>検索機能</h3>
<ul class="nav navbar navbar-nav">
  <form class="form-inline">
    <input class="form-control mr-sm-1" type="search" placeholder="Search">
    <button class="btn btn-primary" type="submit">検索</button>
  </form>
</ul>

<%#　質問一覧 %>
<h3>質問一覧</h3>




<%#　ユーザー一覧 %>
<h3>ユーザー一覧</h3>