/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap";  

// ヘッダーの線
header {
  border-bottom: solid 2px black;
  }
// 全体の背景
body {
  background-color: white; 
  font-family: 'Courier New', Courier, monospace;
}
// 新規登録・ログインの幅
.field {
  height: 70px;
}

.navbar-nav{
  margin-top: 0.8rem;
}
// ヘッダーナビの色など
.navbar li a {
  float: left;
  line-height: 50px;
  padding: 0 20px;
  text-decoration: none;
  color: #111;
}
// ロゴ
.logo p {
  font-family: 'Parisienne', cursive;
  font-size: 30px;
  line-height: 50px;
  font-weight: 600;
  color:  #111;
  margin-top: 0.8rem;
}
.navbar-text {
  float: left;
}
/*ページネーション自体のデザイン*/
.pagination>li>a {          
  border: none;     
  color: #696969; 
}
/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     
  border-radius: 15px;   
}
/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;  
}
