// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img1, .img2, .img3 {
  float: left;
  padding-left: 100px;
}

.step {
  width: 130px;
  text-align: center;
  font-family: 'Bangers';
  position: relative;
	padding-left: 25px
}

.step_one_text, .step_two_text, .step_three_text {
  padding: 100px;
}

.step:before {
	position: absolute;
	content: '';
	bottom: -4px;
	left: 0;
	width: 0;
	height: 0;
	border: none;
	border-left: solid 15px transparent;
	border-bottom: solid 15px black;
}

.step:after {
	position: absolute;
	content: '';
	bottom: -4px;
	left: 10px;
	width: 100%;
	border-bottom: solid 4px black;
}

span {
  color: black;
}

.country {
  margin: 35px;
  float: left;
}

.country_img {
  border:solid 1px #000000;
}

.country_all {
  margin-left: 100px;
}

// 新規登録ボタン
.signin_actions {
  font-size: 30px;
  border: 2px solid black;
  color: black;
  padding: 20px;
  margin-left: 50px;
  text-decoration:none !important
}
// 新規登録ボタン押すとボーダーを点線にする
.signin_actions:hover {
  border-style: dashed;
  text-decoration:none !important
}
// ログインボタン押すとボーダーを点線にする
.login_actions {
  font-size: 30px;
  color: black;
  border: 2px solid black;
  padding: 20px;
  margin-left: 10px;
  text-decoration:none !important
}
// ログインボタン
.login_actions:hover {
  border-style: dashed;
  text-decoration:none !important
}
.login_sigin_ations{
  line-height: 300px;
}

.logo {
  font-family: 'HGP行書体', cursive;
  font-size: 80px;
  line-height: 50px;
  font-weight: 600;
  color:  black;
  margin-top: 2.0rem;
}

.intro{
  margin-top: 150px;
}

.box-1 {
  background-color: #1e90ff;
  width: 280px;
  height: 100px;
  margin-top: 110px;
 }

.text-center{
  padding-top: 30px;
}

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 280px;
  height: 100px;
  cursor: pointer;
}
.btn-one {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.3);
}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}
