.question{
  margin: 0 auto;
}
// 質問一覧
.question_box{
  width: 250px;
  height: 150px;
  margin: 20px;
  border: 2px solid black;
  padding: 10px;
  border-radius:
  10px 10px 10px 10px;
  background: #ffffff;
  float: left;
  color: black;
  word-wrap: break-word;
  overflow: auto;
}

a:hover {
  text-decoration: none;
}
