// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 質問内容
.question{
  width: 500px;
  height: 200px;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #5989cf;
  background:  #fff8e8;;
  border-bottom: solid 6px #aac5de;
  border-radius: 9px;
  word-wrap: break-word;
}
.question p {
  margin: 0; 
  padding: 0;
}
// 回答内容
.answer{
  width: 500px;
  height: 200px;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #5989cf;
  background:  #fff8e8;;
  border-bottom: solid 6px #aac5de;
  border-radius: 9px;
}
.answer p{
  margin: 0; 
  padding: 0;
}
// いいね
.favorite{
  text-align: left;
}
// 質問削除ボタン
.text-right{
  float: right;
  padding-right: 50px;
}

// 入力フォーム
.textarea {
  border: 2px solid black;  /* 枠線 */
  border-radius: 0.67em;   /* 角丸 */
  padding: 0.5em;          /* 内側の余白量 */
  background-color: snow;  /* 背景色 */
  width: 100%;             /* 横幅いっぱいにする */
  box-sizing: border-box;  /* ※これがないと横にはみ出る */
  height: 120px;           /* 高さ */
  font-size: 1em;          /* 文字サイズ */
  line-height: 1.2;        /* 行の高さ */
}

.username{
  color: black;
}