// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 質問ボタン
.button{
  display: inline-block;
  position: relative;
  padding: 0.5em 1.4em;
  margin-bottom: 3ex;
  text-decoration: none;
  background: #dcdcdc;/*ボタン色*/
  color: black;
  border-bottom: solid 5px #808080;/*ボタン色より暗め*/
  border-right: solid 5px #c0c0c0;/*ボタン色より暗め*/
}
// 質問ボタン
.button:before {  
  content: " ";
  position: absolute;
  bottom: -5px;
  left: -1px;
  width: 0;
  height: 0;
  border-width: 0 6px 6px 0px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #FFF;
}
// 質問ボタン
.button:after {  
  content: " ";
  position: absolute;
  top: -1px;
  right: -5px;
  width: 0;
  height: 0;
  border-width: 0px 6px 6px 0px;
  border-style: solid;
  border-color: #FFF;
  border-bottom-color: transparent;
}
// 質問ボタン
.button:active {
  border:none;
  -webkit-transform: translate(6px,6px);
  transform: translate(6px,6px);
}
// 質問ボタン
.button:active:after, .button:active:before {
  content: none;
}
