      <div class="pagetop">
        <h1 class="text-center"><%=@region.region_name %> のページ</h1>
      </div>

<%#　ユーザー/質問一覧 %>
<ul class="nav nav-tabs mx-auto">
  <li class="nav-item card mt-3 mx-auto w-50">
    <h2 class="nav-link text-center active" data-toggle="tab" href="#users">ユーザー一覧</h2>
  </li>
  <li class="nav-item card mt-3 mx-auto w-50 ">
    <h2 class="nav-link text-center" data-toggle="tab" href="#questions">質問一覧</h2>
  </li>
</ul>
<div class="tab-content mt-3">
  <div id="users" class="tab-pane active">
    <div class="row">
      <div class="col-md-10 offset-md-1 mt-3">
        <h2 class="text-center">ユーザー一覧</h2>
        <%= render 'countries/users', users: @users %>
      </div>
    </div>
  </div>
  <div id="questions" class="tab-pane">
    <div class="row">
      <div class="mx-auto questions">
        <h2 class="text-center mt-4">質問一覧</h2>
        <%= render 'countries/questions', questions: @questions %>
      </div>
    </div>
  </div>
</div>

<%= stylesheet_link_tag 'countries' %>